@import '../utils/variables';
@import '../utils/mixins';

.container {
    max-width: 500px;
    width: 100%;
    height: 100vh;
    background: $black;
}

.head {
    display: flex;
    justify-content: center;
    align-items: center;
}



.calculator {
    margin-left: 20px;
    margin-right: 20px;
}

.input {
    background: $grey;
    margin-top: 20%;
    border: none;
    padding: 10px 25px;
    border-radius: 10px;
    color: $white;
    width: 100%;
    font-size: 90px;
    text-align: right;
    font-weight: 300;
    line-height: 96px;
}

.block_buttons {
    margin-top: 30%;
    padding: 0 20px;
    display: grid;
    justify-items: center;
    grid-template-columns: repeat(4, 1fr);
    gap: 8px;
}

.button {
    @include button;
    @include transition(transform);

    &:hover {
        transform: scale(1.04);
    }

    &:active {
        transform: scale(0.9);
    }
}

.button_grey {
    background: $dark-grey;
}

.button_blue {
    background: $blue;
}

@media(min-width:500px) {

    .container {
        max-height: 900px;
        border-radius: 20px;
    }
}